body {
    font-family: Arial, sans-serif;
    background: url(pictures/bag.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 46px;
    background-color: rgb(245, 248, 248);
    border-bottom: 5px solid #72aff0;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 35px;
    padding: 5px 0px 5px 10px;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0px 10px 0px 10px;
    width: 350px;
    text-align: center;
}

.login-header {
    margin-bottom: 20px;
    color: #333;
}

.login-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /*Important to include padding and border within the element's total width and height.*/
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: none;
    border-color: #555;
    /* Highlight on focus */
}

.login-form .login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

.login-form .login-button:hover {
    background-color: #0056b3;
}

.options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
}

.options a {
    color: #007bff;
    /* Optional:  Consistent link color */
    text-decoration: none;
    /* Remove underline (if desired) */
}

.options a:hover {
    text-decoration: underline;
    /* Add underline on hover */
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
    }
}